.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: pulse 5s infinite alternate;
}

h1 {

}

section.links {
    display: flex;
    align-content: space-around;
}

section.links img {
    height: 10vmin;
    align-self: center;
    margin-left: 1.2rem;
}

section.links a {
    display: flex;
    width: 15vmin;
    height: 15vmin;
    border-radius: 50%;
    align-items: center;
}
section.links a:hover {
    background: rgba(255, 255, 255, 0.5);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
    0% {
        background-color: #282c34;
    }
    5% {
        background-color: red;
    }
    10% {
        background-color: orange;
    }
    15% {
        background-color: yellow;
    }
    20% {
        background-color: green;
    }
    25% {
        background-color: deepskyblue;
    }
    30% {
        background-color: darkblue;
    }
    35% {
        background-color: blueviolet;
    }
    40% {
        background-color: #282c34;
    }
    100% {
        background-color: #000;
    }
}